.free		{ color: black; }
.selected	{ text-decoration: line-through; 
			background-color: #ffdddd;}
.plan		{ border-width: thin; 
			border-style: solid; 
			padding: 10px; 
			background-color: #fff; 
			width: 800px;
			height:100%;
			filter:alpha(opacity=100);
			-moz-opacity:1.0;
			opacity: 1.0;
			}
.chosen 	{color: black; 
			font-size: 12pt; 
			list-style-type: square}
#wrapper{
	display:none;
}
#selectedFood{
	position:absolute;
	left:20;
	top:20;
}

* html #selectedFood{
	position:absolute;
	left:0;
	top:40;
}				